<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--namespace 指向mapper-->
<!--resultType返回的数据-->
<!--id mapper里用的方法-->
<mapper namespace="com.test0805.demo.mapper.UserMapper">


    <select id="findAll" resultType="com.test0805.demo.entity.User">
        SELECT * From user
    </select>
</mapper>